ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li:hover {
    color: rgb(254, 221, 177);
    cursor: grab;
  }

  a.active {
    color: orange;
  }

  .Navbar {
    position: sticky; 
    top: 0
  }